body {
  background: #96B296;
}

section {
  margin-bottom: 3rem;
}

section h2 {
  margin: 2rem 0;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #333;
}

#header .jumbotron {
  margin-top: 3rem;
  background-color: #F0FFF0;
}

#header h1 {
  font-size: 55px;
}

#header img.img-header {
  width: 100%;
  height: 320px;
}

#info {
  /*padding: 2rem 0;*/
}

#info ul {
  list-style-type: none;
  padding: 0;
}

#info ul li {
  padding: 1rem 2rem 2rem 2rem;
  margin: 1rem 0;
  background: #F0FFF0;
}

#info ul li h4 {
  color: #333;
  text-transform: uppercase;
}


#info ul li h4:before {
  content: "+";
  font-size: 3rem;
  margin: 0 1rem 0 0;
  color: #888;
}

#contact address {
  background: #F0FFF0;
  padding: 2rem;
}
